<div class="row">
  <div class="col-md-6">
    <h4 class="text-primary pull-left">SELECT USERS</h4>
    <button
      aria-label="clear selected"
      ng-click="vm.clearSelected()"
      class="btn btn-outline btn-lg pull-right cust-btn-circle"
    >
      <span
        class="glyphicon glyphicon-remove-circle cust-glyphicon-primary pull-right"
        aria-hidden="true"
      ></span>
    </button>
  </div>
</div>

<br />

<span class="cust-block"></span> <br />
<div class="row">
  <div class="col-md-6">
    <user-list checkable="false" users="vm.users"></user-list>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <a href="/" class="btn btn-default btn-md pull-right cust-sharp">Back</a>
  </div>
</div>
